# GalaChain Testnet API
VITE_GALACHAIN_API=https://gateway-testnet.galachain.com/api/testnet01/gc-a9b8b472b035c0510508c248d1110d3162b7e5f4-GalaChainToken

# Project Configuration
VITE_PROJECT_API=http://localhost:4000
